<div class="wrap-everything">
    <!--id=column-1-->
    <section id="column-1">
        <%- include('column-1.ejs') %>
    </section><!--id=column-1-->
    <section id="column-2"><!--id=column-2-->
        <%- include('column-2.ejs') %>
    </section><!--id=column-2-->
    <section id="column-3"><!--id=column-13-->
        <div class="wrap">
            <div class="scroll-top"><a id="scroll-top" href=""><span class="hop">screen</span> top</a></div>
            <div class="left-frame-top">
                <div class="panel-1"><a href="">LCARS</a></div>
                <div class="panel-2">02<span class="hop">-262000</span></div>
            </div>
            <div class="right-frame-top">
                <div class="banner"> LCARS &#149; <span class="blink">Online</span> </div>
                <div class="data-cascade-button-group">
                    <div class="cascade-wrapper"><!--BEGIN cascade-wrapper-->
                        <%- include('cascade-wrapper.ejs') %>
                    </div><!--END cascade-wrapper-->

                    <nav> <!-- BEGIN NAVBAR-->

                        <%- include('links.ejs', { links: [ { href: '' , target: "" , icon: '' , id: "b-one" , title: ''
                            , class:'' , text: '01' , div_id:'' }, { div_id:'blank' }, { href: '' , target: "" ,
                            icon: '' , id: "b-three" , title: '' , class:'' , text: '02' , div_id:'' }, { href: '' ,
                            target: "" , icon: '' , id: "b-four" , title: '' , class:'' , text: '03' , div_id:'' }, {
                            href: '' , target: "" , icon: '' , id: "b-five" ,title: '' , class:'go-away' , text: '04' ,
                            div_id:'' }, { href: '' , target: "" , icon: '' , id: "b-six" , title: '' , class:'' ,
                            text: '05' , div_id:'' } ] } ) %>
                    </nav><!-- END NAVBAR-->
                </div>
                <div class="bar-panel first-bar-panel">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                    <div class="bar-4"></div>
                    <div class="bar-5"></div>
                </div>
            </div>
        </div>
        <div class="wrap" id="gap">
            <div class="left-frame">
                <div>
                    <div class="panel-3">03<span class="hop">-111968</span></div>
                    <div class="panel-4">04<span class="hop">-041969</span></div>
                    <div class="panel-5">05<span class="hop">-1701D</span></div>
                    <div class="panel-6">06<span class="hop">-071984</span></div>
                    <div class="panel-7">07<span class="hop">-081940</span></div>
                    <div class="panel-8">08<span class="hop">-47148</span></div>
                    <div class="panel-9">09<span class="hop">-081966</span></div>
                </div>
                <div>
                    <div class="panel-10">10<span class="hop">-31</span></div>
                </div>
            </div>
            <div class="right-frame">
                <div class="bar-panel">
                    <div class="bar-6"></div>
                    <div class="bar-7"></div>
                    <div class="bar-8"></div>
                    <div class="bar-9"></div>
                    <div class="bar-10"></div>
                </div>
                <main>

                    <!-- Start your content here. -->

                    <%- include('../content/'+content_file),{} %>

                        <!-- End content area. -->

                        <footer>
                            <%- include('footer.ejs') %>
                        </footer>
                </main>
            </div>
        </div>
    </section><!--id=column-3-->
</div>