<!-- links.ejs -->

    <% for (var i = 0; i < links.length; i++) { %>
      <% console.info(links[i]);%>
        <% if (links[i].div_id == 'blank' || links[i].div_class != '') { %>
          <div class="<%= links[i].div_class %>" id="<%= links[i].div_id %>">
          <% } %>
            
          <% if (links[i].div_id != 'blank') { %>  
            <a href="<%= links[i].href %>" title="<%= links[i].title %>" target="<%= links[i].target %>" class="<%= links[i].class %>"  id="<%= links[i].id %>" >
            <%= links[i].icon %>
              <span ><%= links[i].text %></span>
            </a>
            <% } %>        

        <% if (links[i].div_id == 'blank' | links[i].div_class != "") { %>
          </div>  
        <% } %>        
    <% } %>

